@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

:root {
  --text-color: #0f2f27;
}

body {
  color: var(--text-color);
}

.auth-app {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.auth-card {
  padding: 2rem;
  background: #ffffff;
}

.auth-background {
  background: #efefef;
  height: 100vh;
  width: 100vw;
}
